@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --main-color: #ffd859;
  --background-color: #1a1b1e;
  font-family: JetBrains Mono, "Pretendard", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
  transition: color 0.25s;
  cursor: pointer;
}

body {
  width: 100%;
  padding: 0 22px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1276px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: #f9f9f9;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  padding: 0;
}

button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: JetBrains Mono;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  font-weight: 600;
  border: 2px solid white;
  color: white;
}

#app {
  max-width: 1276px;
  margin: 0 auto;
  text-align: center;
}