:root {
  font-family: JetBrains Mono, "Pretendard", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1b1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
  transition: color 0.25s;
  cursor: pointer;
}
a:hover {
  color: lightgray;
}

body {
  width: 100%;
  padding: 0 22px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1276px;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  padding: 0;
}

#app {
  max-width: 1276px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
